/* Importando a fonte medieval 'Cinzel' do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

body {
  font-family: "Cinzel", serif;
  color: #c59d44; /* Dourado */
  margin: 0;
  background: transparent; /* Removendo fundo */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding-left: 20px; /* Adicionando espaço à esquerda */
  flex-direction: column;
}

.money-display {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.coin-image {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/* Estilo para o valor do dinheiro */
.money-display span {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #3d2f14; /* Sombra para destacar o texto */
}

/* Estilo para o nome da categoria */
.money-display .category {
  font-size: 19px; /* Levemente maior */
  font-weight: bold; /* Negrito */
  color: #6e5c3a; /* Cor mais escura e discreta */
  margin-right: 10px;
}

/* Ajustando o alinhamento em telas menores */
@media (max-width: 600px) {
  .money-display {
    flex-direction: column;
    align-items: flex-start;
  }

  .coin-image {
    margin-right: 0;
    margin-bottom: 5px;
  }
} /* Importando a fonte medieval 'Cinzel' do Google Fonts */
